/App/packagesAnalyzerProj/static/*
db.sqlite3
packagesAnalyzerProj/static/*

# postgres ...
/data


celerybeat-schedule.*

.idea
/App/packagesAnalyzerProjfrontend/.DS_Store
/App/packagesAnalyzerProjfrontend/node_modules
/App/packagesAnalyzerProjfrontend/dist/

# local env files
/App/packagesAnalyzerProjfrontend/.env.local
/App/packagesAnalyzerProjfrontend/.env.*.local

# Log files
/App/packagesAnalyzerProjfrontend/npm-debug.log*
/App/packagesAnalyzerProjfrontend/yarn-debug.log*
/App/packagesAnalyzerProjfrontend/yarn-error.log*
/App/packagesAnalyzerProjfrontend/pnpm-debug.log*

# Editor directories and files
/App/packagesAnalyzerProjfrontend/.idea
/App/packagesAnalyzerProjfrontend/.vscode
/App/packagesAnalyzerProjfrontend/*.suo
/App/packagesAnalyzerProjfrontend/*.ntvs*
/App/packagesAnalyzerProjfrontend/*.njsproj
/App/packagesAnalyzerProjfrontend/*.sln
/App/packagesAnalyzerProjfrontend/*.sw?

__pycache__/*
/App/packagesAnalyzerProj/packages__app/__pycache__/*
/App/packagesAnalyzerProj/__pycache__/*
/App/packagesAnalyzerProj/package-lock.json

/App/packagesAnalyzerProj/packages__app/Helper/__pycache__/*
/App/packagesAnalyzerProj/packages__app/api/__pycache__/*
/App/packagesAnalyzerProj/core/__pycache__/*
/App/packagesAnalyzerProj/packages__app/tests/__pycache__/*
/App/packagesAnalyzerProj/packages__app/migrations/__pycache__/*
/App/packagesAnalyzerProj/node_modules/*
/App/packagesAnalyzerProj/packagesAnalyzerProj/__pycache__/*
/App/packagesAnalyzerProj/endpoints/__pycache__/*
/App/packagesAnalyzerProj/endpoints/migrations/__pycache__/*
/App/packagesAnalyzerProj/endpoints/api/__pycache__/*
/App/packagesAnalyzerProj/packagesAnalyzerProj/__pycache__/*
